@import "/styles/tachyons/tachyons.css"
@import "/styles/cubes/cubes.css"

// override styles for pre text
.content pre, .content pre[class*="language-"] {
  background-color: white !important;
  line-height: 1.4 !important;
  border-radius: 6px !important;
  padding: 0.25rem 0.5rem !important;
  margin: 0.85rem 0 !important;
  font-size: 0.875rem !important;
}
